.jumbotron {
    background-image: url("https://d2r55xnwy6nx47.cloudfront.net/uploads/2017/11/04_Roberto-Kolter-and-Steve-Minsky_Pseudomonas-Aeruginosai_Pili.jpg");
    background-size: 100% 100%;
    text-align: center;
    font-weight: bold;
    color:white
  }